body{
  margin:0;
  text-align: center;
  background-color: #F9F9F9;

}
.in{
  width:30%;
  margin:auto;
}
h1{

  margin:0 ;
  margin-top: 0;
  height: 2px;
  font-family:Sacramento;
  color: #A084CF;
  font-size: 362.5%;

}




h2{
  color:#A084CF;
  font-family: Dancing Script;
}
h3{
  color:#A084CF;
  font-family:Dancing Script;
  text-align: center;
  margin-left:20px;
}
img{
  height:100px;

}
.caddom{
  height: 300px;
}

.caom{
  height: 160px;
  border-radius: 100px;
}
.comm{
  background-color: powderblue;
}
hr{

    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 20px;
    margin:100px auto;
}
.bottom-container{
  background-color: powderblue;
  margin:0;
}
.caddm{
  height: 100px;
  border-radius: 100px;
  background-color: red;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align:left;
 
}
p{
   line-height:2;
}

.caddm{
  text-align: center;
  float:left;
  margin:30px;
}
.dance{

  float:right;
  margin:30px;

}
