body{
  margin:0;
  text-align: center;

}
h1{

  margin:0 ;
  margin-top: 0;
  height: 2px;
  font-family:Sacramento;
  color: #A084CF;
  font-size: 362.5%;
}



h2{
  color:#A084CF;
  font-family: Dancing Script;
}
h3{
  color:#A084CF;
  font-family:Dancing Script;
  text-align: center;
  margin-left:20px;
}
img{
  height:100px;

}
.caddom{
  height: 300px;
}

.caom{
  height: 160px;
  border-radius: 100px;
}
.comm{
  background-color: powderblue;
}
hr{

    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 20px;
}
.bottom-container{
  background-color: powderblue;
  margin:0;
}
.caddm{
  height: 100px;
  border-radius: 100px;
  background-color: red;
}
